.parentDiv {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 80% 5% 15%;
}
.imageUsed {
  width: 100%;
}
.imageUsed img {
  width: 100%;
}
.interationInfo {
  display: flex;

  margin-top: 0.5rem;
}
.interationInfo p {
  margin-left: 1rem;
  color: grey;
}
.title_N_info {
  margin-top: 1rem;
}
.title_N_info h2 {
  text-transform: uppercase;
}
.title_N_info p {
  margin-top: 0.3rem;
  font-size: 1.2rem;
}
.parentDiv:hover {
  cursor: pointer;
}

@media (min-width: 280px) and (max-width: 576px) {
  .parentDiv {
    grid-template-rows: 8rem 2rem 5rem;
  }
  .imageUsed {
    width: 100%;
  }
  .imageUsed img {
    width: 100%;
  }
  .interationInfo {
    display: flex;
    margin: 0;
  }
  .interationInfo p {
    margin-left: 0.5rem;
    font-size: 0.8rem;
    color: grey;
  }
  .title_N_info {
    margin-top: 0.2rem;
  }

  .title_N_info p {
    font-size: 0.9rem;
  }
}
