* {
  box-sizing: border-box;
  margin: 0;
}

.head {
  width: 100%;
  background-color: #fefefe;
  border-bottom: 0.1rem solid rgb(218, 218, 218);
  box-shadow: rgba(33, 35, 38, 0.1) 0px 1rem 2rem -1rem;
}

nav {
  display: grid;
  grid-template-columns: 15% 59% 26%;
  grid-template-rows: 5rem;
  align-items: center;
}
/* from YT  */
.logo {
  /* display: inline-block; */
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.logo img {
  max-width: 50%;
  object-fit: contain;
  mix-blend-mode: color-blur;
}
.unorderdList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navIcons {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: left;
}
.navIcons input {
  padding: 0.4rem 0.5rem;
  outline: none;
  outline: none;
  background-color: transparent;
  border: none;
}

.icons {
  font-size: 2.3rem;
  margin-left: 1rem;
  margin-top: 0.4rem;
}
.icons:hover {
  cursor: pointer;
}
.cartIndicator {
  width: 0.4rem;
  color: rgb(248, 40, 40);
  z-index: 999;
  margin-left: -0.5rem;
}

.displayOff {
  color: transparent;
  width: 0.4rem;
  /* color: transparent; */
  z-index: 999;
  margin-left: -0.5rem;
}
.favOn {
  color: rgb(248, 40, 40);
}
.searchBar {
  display: flex;
  border: 0.1rem solid rgb(64, 64, 64);
  border-radius: 0.4rem;
  justify-content: center;
  padding: 0.1rem 1rem;
}
.searchIcon {
  font-size: 2.3rem;
  margin-top: 0.4rem;
  cursor: pointer;
}
.menuIcon {
  font-size: 5rem;
  display: none;
}

@media (min-width: 280px) and (max-width: 576px) {
  .searchBar {
    padding: 0rem 0rem;
    max-width: 8rem;
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
  }
  .searchIcon {
    font-size: 1.5rem;
    margin-top: 0.4rem;
    justify-content: center;
    cursor: pointer;
  }
  .unorderdList {
    padding: 0;
    margin-right: auto;
    font-size: 0.6rem;
    display: none;
  }
  nav {
    grid-template-columns: 40% 60%;
  }
  .menuIcon {
    font-size: 2rem;
    display: block;
  }
  .navIcons {
    justify-content: right;
  }
  .icons {
    margin-left: 0;
    font-size: 1.7rem;
    margin-left: 0.4rem;
  }
  .disp {
    display: none;
  }
  .navIcons input {
    padding: 0rem 0rem;

    max-width: 6rem;
  }
  .logo img {
    max-width: 60%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .searchBar {
    padding: 0rem 0rem;
    max-width: 12rem;
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
  }
  .searchIcon {
    font-size: 1.5rem;
    margin-top: 0.4rem;
    justify-content: center;
    cursor: pointer;
  }
  .unorderdList {
    padding: 0;
    margin-right: auto;
    font-size: 0.6rem;
    display: none;
  }
  nav {
    grid-template-columns: 40% 60%;
  }
  .menuIcon {
    font-size: 2rem;
    display: block;
  }
  .navIcons {
    justify-content: right;
  }
  .icons {
    font-size: 2rem;
    margin-left: 0.4rem;
  }
  .disp {
    display: block;
  }
  .navIcons input {
    padding: 0rem 0rem;
    max-width: 10rem;
  }
  .logo img {
    max-width: 45%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .searchBar {
    padding: 0rem 0rem;
    max-width: 12rem;
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
  }
  .navIcons input {
    padding: 0rem 0rem;
    max-width: 10rem;
  }
  .searchIcon {
    font-size: 1.5rem;
    margin-top: 0.4rem;
    justify-content: center;
    cursor: pointer;
  }
  .unorderdList {
    padding: 0;
    margin: auto;
    font-size: 0.9rem;
  }
  nav {
    grid-template-columns: 15% 47% 38%;
  }
  .navIcons {
    justify-content: right;
  }
  .logo img {
    max-width: 80%;
  }
}
