.parent {
  display: flex;
  align-items: center;
}
.childOne {
  max-width: 50%;
  padding-top: 2%;
}
.Img {
  width: 100%;
  height: 50%;
  padding: 2rem;
  border-right: 0.1rem solid lightgray;
  text-align: center;
}
.Img img {
  object-fit: contain;
  width: 50%;
}
.childTwo {
  width: 100%;
  margin: auto;
  /* margin-top: 8%; */
  text-align: center;
  height: 100%;
}
.formDiv {
  height: 100%;
  text-align: center;
}

.form {
  margin-top: 1.5rem;
  text-align: center;
}
.form label {
  font-size: 1.5rem;
  font-family: 800;
  text-transform: uppercase;
  word-spacing: 0.5rem;
  margin-bottom: 1rem;
}
.form input {
  margin-top: 0.5rem;
  margin-bottom: 1.4rem;
  padding: 1rem 1.5rem;
  border: 0.1rem solid lightgray;
  outline: none;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 1rem 2rem -1rem;
}
.form input:hover {
  border: 0.1rem solid black;
}
.Formtitle {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
}
.signUpbtn {
  margin-top: 2rem;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  color: rgb(211, 82, 42);
}
.signUpbtn:hover {
  color: rgb(183, 50, 10);
}
.formBtn {
  border: none;
  outline: none;
  background-color: rgb(227, 55, 55);
  box-shadow: rgba(33, 35, 38, 0.1) 0px 1rem 2rem -1rem;
  padding: 0.5rem 2rem;
  border-radius: 0.2rem;
  color: white;
  text-transform: uppercase;
}
.formBtn:hover {
  background-color: rgb(227, 35, 35);
  cursor: pointer;
}

@media (min-width: 280px) and (max-width: 576px) {
  .parent {
    display: grid;
    grid-template-rows: 5rem 40rem;
  }
  .childOne {
    max-width: 80%;
    padding-top: 2%;
    margin: auto;
  }
  .Img {
    display: none;
  }

  .form label {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
  .form input {
    margin-top: 0.5rem;
    margin-bottom: 1.4rem;
    padding: 0.5rem 1rem;
  }
  .formDiv {
    height: 90%;
    text-align: center;
  }
  .formBtn {
    padding: 0.2rem 1.4rem;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .parent {
    display: grid;
    grid-template-rows: 5rem 50rem;
    /* grid-template-columns: 50% 50%; */
  }
  .childOne {
    max-width: 80%;
    padding-top: 2%;
    margin: auto;
  }
  .Img {
    display: none;
  }

  .form label {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
  .form input {
    margin-top: 0.5rem;
    margin-bottom: 1.4rem;
    padding: 0.5rem 1rem;
  }
  .formDiv {
    height: 90%;
    text-align: center;
  }
  .formBtn {
    padding: 0.2rem 1.4rem;
  }
}
