.editBtn {
  padding: 1rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 800;
  outline: none;
  border: none;
  background-color: rgb(227, 55, 55);
  box-shadow: rgba(33, 35, 38, 0.1) 0px 1rem 2rem -1rem;
  cursor: pointer;
  color: white;
  width: 100%;
  letter-spacing: 0.2rem;
  margin-bottom: 2%;
  border-radius: 0.4rem;
}
.editBtn:hover {
  background-color: rgb(226, 47, 47);
}
.form label {
  font-size: 1.2rem;
  font-family: 800;
  text-transform: uppercase;
  word-spacing: 0.5rem;
  margin-bottom: 1rem;
}
.form input {
  margin-top: 0.5rem;
  margin-bottom: 1.4rem;
  padding: 0.5rem 1.5rem;
  border: 0.1rem solid lightgray;
  outline: none;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 1rem 2rem -1rem;
}
.form input:hover {
  border: 0.1rem solid black;
}
.gender {
  margin-left: 3rem;
}
.form {
  margin-top: 1rem;
  border: 0.1rem solid rgb(177, 177, 177);
  padding: 1rem 1.6rem;
  border-radius: 0.7rem;
}
.formSection {
  max-width: 40%;
  margin: auto;
  display: grid;
  grid-template-rows: 10% auto;
  margin-top: 2%;
}
.formSection h2 {
  text-transform: uppercase;
  text-align: center;
}
.titleHead {
  display: grid;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  justify-content: center;
}
.progressBar {
  width: 100%;
  accent-color: rgb(45, 45, 45);
  padding: 0.1rem 1rem;
}

@media (min-width: 280px) and (max-width: 576px) {
  .formSection {
    max-width: 100%;
  }
  .formSection h2 {
    font-size: 1.2rem;
  }
  .editBtn {
    padding: 0.6rem;
    font-size: 0.9rem;
  }

  .form label {
    font-size: 1.1rem;
    font-family: 800;
    text-transform: uppercase;
    word-spacing: 0.5rem;
    margin-bottom: 1rem;
  }
  .form input {
    margin-top: 0.5rem;
    margin-bottom: 1.1rem;
    padding: 0.2rem 1rem;
  }
  .form input:hover {
    border: 0.1rem solid black;
  }
  .gender {
    margin-left: 3rem;
  }
  .form {
    margin-top: 1rem;
    border: 0.1rem solid rgb(177, 177, 177);
    padding: 1rem 1.6rem;
    border-radius: 0.7rem;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .formSection {
    max-width: 60%;
  }
  .formSection h2 {
    font-size: 1.2rem;
  }
  .editBtn {
    padding: 0.6rem;
    font-size: 0.9rem;
  }

  .form label {
    font-size: 1.1rem;
    font-family: 800;
    text-transform: uppercase;
    word-spacing: 0.5rem;
    margin-bottom: 1rem;
  }
  .form input {
    margin-top: 0.5rem;
    margin-bottom: 1.1rem;
    padding: 0.2rem 1rem;
  }
  .form input:hover {
    border: 0.1rem solid black;
  }
  .gender {
    margin-left: 3rem;
  }
  .form {
    margin-top: 1rem;
    border: 0.1rem solid rgb(177, 177, 177);
    padding: 1rem 1.6rem;
    border-radius: 0.7rem;
  }
}
