.searchNfilter {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 2fr;
  row-gap: 10%;
  justify-content: center;
  /* margin-top: 5%; */
  text-align: left;
  transition: 0.7s ease;
}
.searchNfilter .searchInput {
  border: none;
  outline: none;
  padding: 1rem 0.5rem;
  background-color: rgb(223, 223, 223);
}
.searchNfilter select {
  padding: 1rem 0.5rem;
  border: 0.1rem solid grey;
  border-radius: 0.5rem;
  color: gray;
}
.priceRangeDiv {
  display: grid;
  border: 0.1rem solid rgb(198, 198, 198);
  border-radius: 0.6rem;
  grid-template-rows: 50% 50%;
  padding: 1rem 0rem;
}
.texts {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.min {
  text-align: center;
  font-size: 1.2rem;
}

.max {
  text-align: center;
  font-size: 1.2rem;
}
.texts h4 {
  border: 0.1rem solid rgb(225, 225, 225);
  padding: 0.2rem 2rem;
  border-radius: 0.2rem;
}
.rangeHandler {
  text-align: center;
}
.range {
  width: 40%;
  -webkit-appearance: none;
  appearance: none;
  height: 0.2rem;
  max-width: 50%;
  margin-top: 2rem;
  padding: 0;
  outline: none;
  background: transparent;
}
.range::-webkit-slider-runnable-track {
  background: #161616;
  height: 0.4rem;
}
.range::-moz-range-track {
  background: #161616;
  height: 0.4rem;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  background-color: #292929;
  height: 1rem;
  width: 0.7rem;
}

@media (min-width: 280px) and (max-width: 576px) {
  .searchNfilter {
    grid-template-rows: 2rem 2rem 2rem 14rem;
    grid-template-columns: 15rem;
    row-gap: 5%;
    max-width: 100%;
    height: 28rem;
    border: 0.1rem solid rgb(180, 180, 180);
  }
  .searchNfilter .searchInput {
    padding: 0.1rem 1rem;
    max-width: 13rem;
    margin: auto;
  }
  .searchNfilter select {
    max-width: 13rem;
    padding: 0.2rem 2rem;
    margin: auto;
  }
  .priceRangeDiv {
    max-width: 13rem;
    margin: auto;
  }
  .searchNfilter h2 {
    text-align: center;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .searchNfilter {
    grid-template-rows: 3rem 3rem 3rem 13rem;
    grid-template-columns: 22rem;
    row-gap: 5%;
    max-width: 100%;
    height: 28rem;
    border: 0.1rem solid rgb(180, 180, 180);
  }
  .searchNfilter .searchInput {
    padding: 0.5rem 1rem;
    max-width: 16rem;
    margin: auto;
  }
  .searchNfilter select {
    max-width: 13rem;
    padding: 0.2rem 2rem;
    margin: auto;
  }
  .priceRangeDiv {
    max-width: 16rem;
    margin: auto;
  }
  .searchNfilter h2 {
    text-align: center;
    font-size: 1.7rem;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .searchNfilter .searchInput {
    padding: 0.5rem 1rem;
    max-width: 16rem;
    margin: auto;
  }
  .searchNfilter select {
    max-width: 13rem;
    padding: 0.2rem 2rem;
    margin: auto;
  }
  .priceRangeDiv {
    max-width: 16rem;
    margin: auto;
  }
  .searchNfilter h2 {
    text-align: center;
    font-size: 1.5rem;
  }
}
