.lis {
  padding: none;
  display: inline-block;
  /* float: left; */
  margin: 0rem 3rem;
  position: relative;
}
.lis a {
  display: inline-block;
}
.lis a:hover {
  cursor: pointer;
  color: black;
}
/* .lis h3 {
  display: inline-block;inline-block is ignored due to the float. If 'float' has a value other than 'none', the box is floated and 'display' is treated as 'block'
} */
@media (min-width: 280px) and (max-width: 576px) {
  .lis {
    margin: 0rem 0.3rem;
    margin-top: 1rem;
    border-bottom: 0.1rem solid rgb(200, 200, 200);
    width: 100%;
    margin-bottom: 1rem;
    padding-bottom: 0.4rem;
  }
  .lis a:hover {
    color: black;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .lis {
    margin: 0rem 0.3rem;
    margin-top: 1rem;
    border-bottom: 0.1rem solid rgb(200, 200, 200);
    width: 100%;
    margin-bottom: 1rem;
    padding-bottom: 0.4rem;
  }
  .lis a:hover {
    color: black;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .lis {
    margin: 0rem 0.5rem;
    margin-top: 0rem;
  }
  .lis a:hover {
    color: black;
  }
}
