/* img { */
/* max-width: 100%; */
/* max-height: 100%; */
/* } */
.imgDiv {
  position: relative;
}
.imgDiv img {
  object-fit: contain;
  max-width: 100%;
  /* max-height: 100%; */
}
.heartLogo {
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 2rem;
  /* z-index: 99; */
}
.heartBtn {
  position: absolute;
  top: 2%;
  right: 2%;
  /* z-index: 10; */
  background: none;
  border: none;
  /* height: 1rem;
  width: 1rem; */
}

.heartBtn:hover {
  cursor: pointer;
  color: rgb(223, 46, 46);
}
.heartBtn:disabled {
  cursor: not-allowed;
  color: rgb(223, 46, 46);
}

.productInfo {
  text-align: center;
  /* text-transform: uppercase; */
}
.productInfo h2 {
  font-size: 1.5rem;
}
