.Backdrop {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 20;
}

.unorderdList {
  list-style-type: none;
  padding: 3rem 1rem;
  margin: 0;
  font-size: 1.2rem;
  height: 100%;
  width: 50%;
  position: fixed;
  border-top-left-radius: 2rem;
  top: 0%;
  background-color: white;
  right: 0%;
  z-index: 99;
  transition: 1s ease;
}
.acc {
  margin: 0rem 0.3rem;
  margin-top: 1rem;
  border-bottom: 0.1rem solid rgb(200, 200, 200);
  width: 100%;
  margin-bottom: 1rem;
  padding-bottom: 0.4rem;
  font-size: 1.5rem;
}
/* .menuInCenter */
@media (min-width: 280px) and (max-width: 576px) {
  .unorderdList {
    display: block;
  }
  .Backdrop {
    display: block;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .unorderdList {
    display: block;
  }
  .Backdrop {
    display: block;
  }
}
