.thisSection {
  display: grid;
  grid-template-rows: auto 90% auto;
}
.ParentProductsDiv {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.nfilter {
  grid-template-columns: 26% auto;
}
.ProductsListPart {
  display: grid;
  grid-template-columns: repeat(auto-fill, 20rem);
  column-gap: 5%;
  row-gap: 2%;
  justify-content: right;
}

.routeDenoter {
  padding: 2rem 0rem;
}
.FiltersPart {
  text-align: center;
}
.secondSideDiv {
  display: grid;
  grid-template-rows: 4rem 90%;
}
.ech2 {
  display: inline-block;
  text-transform: uppercase;
}
.heading {
  display: flex;
  justify-content: space-between;
  min-height: 5rem;
}
.filterlogo {
  font-size: 3rem;
  cursor: pointer;
}
.pagination {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

@media (min-width: 280px) and (max-width: 576px) {
  .FiltersPart {
    display: none;
  }
  .thisSection {
    display: grid;
    grid-template-rows: auto 90% 10%;
  }
  .nfilter {
    grid-template-columns: auto auto;
  }
  .ParentProductsDiv {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 85%;
  }
  .ProductsListPart {
    grid-template-columns: repeat(auto-fill, 10rem);
    column-gap: 3%;
    justify-content: center;
    overflow-y: scroll;
    max-height: 60rem;
  }
  .ProductsListPart::-webkit-scrollbar {
    display: none;
  }
  .secondSideDiv {
    display: grid;
    grid-template-rows: 4rem 60rem;
  }
  .filterlogo {
    font-size: 2rem;
    cursor: pointer;
  }
  .pagination {
    margin-top: 5%;
    font-size: 1.6rem;
    height: 2rem;
  }
  .heading {
    min-height: 3rem;
  }
}
