.card {
  margin-top: 10%;
  display: grid;
  grid-template-rows: 5rem auto;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.buttons h2 {
  font-size: 1.8rem;
}
.buttons h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
.childCard {
  display: grid;
  justify-content: center;
  grid-template-columns: 20% 20% 20% 20%;
  column-gap: 5%;
  grid-template-rows: 30rem;
  max-width: 100%;
  max-height: 40rem;
  margin-top: 1%;
}
.card h2,
h3:hover {
  cursor: pointer;
}
.card h3 {
  text-decoration: underline;
}
.title {
  text-transform: uppercase;
}

@media (min-width: 280px) and (max-width: 576px) {
  .card {
    margin-top: 2%;
    column-gap: 0%;
    grid-template-rows: 2rem auto;
    overflow-x: scroll;
  }
  .card::-webkit-scrollbar {
    display: none;
  }
  .childCard {
    grid-template-columns: repeat(4, 10rem);
    column-gap: 1rem;
    grid-template-rows: 18rem;
    max-width: 100%;
    max-height: 20rem;
    margin-top: 1%;
  }
  .buttons {
    justify-content: space-around;
    max-width: 100%;
  }
  .buttons h2 {
    font-size: 1rem;
    margin-right: auto;
  }
  .buttons h3 {
    font-size: 0.8rem;
    font-weight: 600;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .card {
    margin-top: 2%;
    column-gap: 0%;
    grid-template-rows: 2rem auto;
    overflow-x: scroll;
  }
  .card::-webkit-scrollbar {
    display: none;
  }
  .childCard {
    grid-template-columns: repeat(4, 12rem);
    column-gap: 2rem;
    grid-template-rows: 18rem;
    max-width: 100%;
    max-height: 20rem;
    margin-top: 1%;
  }
  .buttons {
    justify-content: space-around;
    max-width: 100%;
  }
  .buttons h2 {
    font-size: 1rem;
    margin-right: auto;
  }
  .buttons h3 {
    font-size: 0.8rem;
    font-weight: 600;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .card {
    margin-top: 2%;
    column-gap: 0%;
    grid-template-rows: 3rem auto;
    overflow-x: scroll;
  }
  .card::-webkit-scrollbar {
    display: none;
  }
  .childCard {
    grid-template-columns: repeat(4, 16rem);
    column-gap: 3rem;
    grid-template-rows: 20rem;
    max-width: 100%;
    max-height: 20rem;
    margin-top: 1%;
  }
  .buttons {
    justify-content: space-around;
    max-width: 100%;
  }
  .buttons h2 {
    font-size: 1.3rem;
    margin-right: auto;
  }
  .buttons h3 {
    font-size: 1rem;
    font-weight: 600;
  }
}
