.LiCard {
  max-height: 30rem;
  max-width: 20rem;
  box-sizing: border-box;
  text-align: left;
  display: grid;
  grid-template-rows: 80% 20%;
  grid-template-columns: 100%;
  justify-content: center;
  background-color: #f7f7f7;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.4rem 1.2rem;
}

@media (min-width: 280px) and (max-width: 576px) {
  .LiCard {
    max-height: 15rem;
    max-width: 10rem;

    grid-template-rows: 60% 40%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .LiCard {
    max-height: 20rem;
    max-width: 12rem;
    grid-template-rows: 75% 25%;
  }
}
