.mainORPage {
  display: grid;
  padding: 5rem 10%;
  grid-template-rows: 60% 40%;
  height: 40rem;
  text-align: center;
}
.heading {
  font-size: 5rem;
  text-decoration: dotted;
  text-transform: uppercase;
  margin-top: auto;
  font-weight: 700;
}
.redirectBtn {
  margin-top: 2rem;
}
.rBtn {
  border: 0.1rem solid rgb(251, 67, 67);
  outline: none;
  font-size: 2rem;
  border-radius: 0.4rem;
  background-color: rgb(251, 67, 67);
  padding: 1rem 2rem;
  cursor: pointer;
  color: white;
}
.rBtn:hover {
  background-color: rgb(250, 47, 47);
  transition: 0.2s ease-in-out;
}

@media (min-width: 280px) and (max-width: 576px) {
  .heading {
    font-size: 2rem;
  }
  .rBtn {
    font-size: 1rem;
    padding: 0.7rem 1rem;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .heading {
    font-size: 2.2rem;
  }
  .rBtn {
    font-size: 1.5rem;
    padding: 0.7rem 1rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .heading {
    font-size: 3.5rem;
  }
  .rBtn {
    font-size: 1.5rem;
    padding: 0.7rem 1rem;
  }
}
