.mainProductDiv {
  display: grid;
  grid-template-rows: 5% 62rem;
}
.mainDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  /* align-items: center; */
  margin-top: 2%;
  column-gap: 2rem;
}
.topTitle {
  padding-top: 2%;
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: 800;
}
.productDetails {
  display: grid;
  grid-template-rows: 25% 75%;
}
.insideLogo {
  width: 95%;
  height: 100%;
}

.insideLogo img {
  width: 50%;
  /* height: 100%; */
}
.details {
  margin-top: 1%;
  display: grid;
  grid-template-rows: 10% 10% 30% 20% 30%;
}
.details h2 {
  font-weight: 700;
  text-transform: uppercase;
}
.details p {
  font-size: 1.2rem;
  margin-top: 1%;
}
.details h3 {
  font-size: 2.6rem;
  font-weight: 400;
}
.details h4 {
  font-size: 2.4rem;
  font-weight: 400;
  margin-top: 1%;
}
.actionBtns {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  border-bottom: 0.1rem solid rgb(178, 178, 178);
}

.btn {
  max-height: 70%;
  padding: 1rem 1rem;
  background-color: rgb(36, 36, 36);
  border: none;
  outline: none;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 0.2rem 0.8rem;
  color: rgb(239, 239, 239);
  text-transform: uppercase;
  font-weight: 600;
  width: 48%;
}
.btn:hover {
  background-color: transparent;
  color: rgb(36, 36, 36);
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.stars {
  font-size: 1.4rem;
  margin-left: 0.5rem;
}
.heading {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid rgb(178, 178, 178);
}
.red {
  color: red;
}
.discPrice {
  text-decoration: line-through;
  color: grey;
  margin-right: 5%;
}
.prices {
  display: flex;
}
.productImg {
  max-width: 100%;
  object-fit: contain;
}
.imgContainer {
  width: inherit;
  height: 100%;
}
.imgContainer img {
  width: 100%;
  max-height: 100%;
}
.pincode_check {
  margin-top: 2%;
  text-align: left;
  font-weight: 700;
}
.fill_pincode input {
  border: none;
  outline: none;
  border: 0.1rem solid rgb(98, 98, 98);
  border-radius: 0.4rem;
  padding: 0.8rem 1.5rem;
  font-size: 1.4rem;
  margin-right: 2rem;
}
.fill_pincode button {
  max-height: 70%;
  padding: 0.8rem 1rem;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  border: 0.1rem solid rgb(189, 189, 189);
  color: rgb(223, 64, 64);
  text-transform: uppercase;
  font-weight: 600;
  width: 28%;
}
.fill_pincode button:hover {
  cursor: pointer;

  border: 0.1rem solid rgb(98, 98, 98);
  transition: 0.1s ease-in-out;
}
.pincode_result {
  text-transform: uppercase;
  margin-top: 1.6rem;
  font-weight: 800;
  text-align: left;
}
.btn:disabled {
  cursor: not-allowed;
}

@media (min-width: 280px) and (max-width: 576px) {
  .mainDiv {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
  }
  .topTitle {
    padding-top: 3%;
    font-size: 1rem;
  }
  .productDetails {
    display: grid;
    grid-template-rows: 15% 85%;
  }
  details {
    margin-top: 1%;
    display: grid;
    grid-template-rows: 10% 10% 30% 20% 30%;
  }
  .details h2 {
    font-weight: 700;
    text-transform: uppercase;
  }
  .details p {
    font-size: 1.2rem;
  }
  .details h3 {
    font-size: 1.8rem;
  }
  .details h4 {
    font-size: 1.8rem;
  }
  .btn {
    width: 48%;
    font-size: 1rem;
  }
  .imgContainer img {
    max-width: 100%;
    max-height: 95%;
  }
  .insideLogo img {
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 0.5rem;
  }
  .fill_pincode input {
    padding: 0.8rem 1rem;
    font-size: 1rem;
    margin-right: 1rem;
  }
  .fill_pincode button {
    max-height: 70%;
    padding: 0.7rem 1rem;
    width: 35%;
    font-size: 1rem;
  }
  .pincode_result p {
    font-size: 0.9rem;
    margin-top: 0;
  }
  .fill_pincode {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .mainDiv {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 55% 45%;
  }
  .topTitle {
    padding-top: 3%;
    font-size: 1rem;
  }
  .productDetails {
    display: grid;
    grid-template-rows: 15% 85%;
  }
  details {
    margin-top: 1%;
    display: grid;
    grid-template-rows: 10% 10% 30% 20% 30%;
  }
  .details h2 {
    font-weight: 700;
    text-transform: uppercase;
  }
  .details p {
    font-size: 1.2rem;
  }
  .details h3 {
    font-size: 1.8rem;
  }
  .details h4 {
    font-size: 1.8rem;
  }
  .btn {
    width: 48%;
    font-size: 1rem;
  }
  .imgContainer img {
    max-width: 100%;
    max-height: 95%;
  }
  .insideLogo img {
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 0.5rem;
  }
  .fill_pincode input {
    padding: 0.8rem 1rem;
    font-size: 1rem;
    margin-right: 1rem;
  }
  .fill_pincode button {
    max-height: 70%;
    padding: 0.7rem 1rem;
    width: 35%;
    font-size: 1rem;
  }
  .pincode_result p {
    font-size: 0.9rem;
    margin-top: 0;
  }
  .fill_pincode {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .insideLogo {
    width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .mainDiv {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 55% 45%;
    max-height: 80rem;
  }
  .topTitle {
    padding-top: 3%;
    font-size: 1rem;
  }
  .productDetails {
    display: grid;
    grid-template-rows: 15% 85%;
  }
  details {
    margin-top: 1%;
    display: grid;
    grid-template-rows: 10% 10% 30% 20% 30%;
  }
  .details h2 {
    font-weight: 700;
    text-transform: uppercase;
  }
  .details p {
    font-size: 1.2rem;
  }
  .details h3 {
    font-size: 1.8rem;
  }
  .details h4 {
    font-size: 1.8rem;
  }
  .btn {
    width: 48%;
    font-size: 1rem;
  }
  .imgContainer img {
    max-width: 100%;
    max-height: 95%;
  }
  .insideLogo img {
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 0.5rem;
  }
  .fill_pincode input {
    padding: 0.8rem 1rem;
    font-size: 1rem;
    margin-right: 1rem;
  }
  .fill_pincode button {
    max-height: 70%;
    padding: 0.7rem 1rem;
    width: 35%;
    font-size: 1rem;
  }
  .pincode_result p {
    font-size: 0.9rem;
    margin-top: 0;
  }
  .fill_pincode {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .insideLogo {
    width: 50%;
  }
  .mainProductDiv {
    display: grid;
    grid-template-rows: 5% 80rem;
  }
}
