.MainAboutSecDiv {
  display: grid;
  grid-template-rows: 65% 30%;
  grid-template-columns: 90%;
  /* max-height: 100vh; */
  justify-content: center;
  padding-top: 5%;
  row-gap: 5%;
}
.imageHere {
  height: 100%;
  width: 100%;
}
.imageHere img {
  height: 100%;
  width: 100%;
}
.textHere h2 {
  font-size: 2.8rem;
  text-transform: uppercase;
}
.textHere p {
  font-size: 1.5rem;
}

@media (min-width: 280px) and (max-width: 576px) {
  .MainAboutSecDiv {
    grid-template-rows: 30rem 40rem;
    grid-template-columns: 100%;
  }
  .textHere h2 {
    font-size: 1.2rem;
  }
  .textHere p {
    font-size: 0.8rem;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .MainAboutSecDiv {
    grid-template-rows: 30rem 40rem;
    grid-template-columns: 100%;
  }
  .textHere h2 {
    font-size: 1.6rem;
  }
  .textHere p {
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .MainAboutSecDiv {
    grid-template-rows: 40rem 40rem;
    grid-template-columns: 100%;
  }
  .textHere h2 {
    font-size: 1.6rem;
  }
  .textHere p {
    font-size: 1.2rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .MainAboutSecDiv {
    grid-template-rows: 45rem 40rem;
    grid-template-columns: 100%;
  }
  .textHere h2 {
    font-size: 1.8rem;
  }
  .textHere p {
    font-size: 1.4rem;
  }
}
