.mainDiv {
  padding-bottom: 5rem;
  display: grid;
  grid-template-rows: 9% 70rem;
  max-height: 100vh;
}
.info {
  height: 100%;
}
.titleA {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  padding-top: 2rem;

  word-spacing: 0.8rem;
  padding-right: 7rem;
}

@media (min-width: 280px) and (max-width: 576px) {
  .mainDiv {
    grid-template-columns: 100%;
    padding-bottom: 0rem;
    grid-template-rows: 9% 60rem;
  }
  .titleA {
    font-size: 1.6rem;
    font-weight: 800;
    text-align: center;
    padding-top: 2rem;
    padding-right: 0;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .mainDiv {
    grid-template-columns: 100%;
    padding-bottom: 0rem;
    grid-template-rows: 9% 60rem;
  }
  .titleA {
    font-size: 1.6rem;
    font-weight: 800;
    text-align: center;
    padding-top: 2rem;
    padding-right: 0;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .titleA {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    padding-top: 2rem;
    padding-right: 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .titleA {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    padding-top: 2rem;
    padding-right: 0;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .titleA {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    padding-top: 2rem;
    padding-right: 0;
  }
}
