.CartSection {
  margin-top: 2%;
  display: grid;
  grid-template-rows: 5rem auto;
}
.cartProductListDiv {
  display: grid;
  grid-template-rows: repeat(2, 33rem);
  grid-template-columns: repeat(6, 20rem);
  column-gap: 1%;
}

@media (min-width: 280px) and (max-width: 576px) {
  .cartProductListDiv {
    grid-template-rows: repeat(2, 20rem);
    grid-template-columns: repeat(2, 10rem);
    column-gap: 2rem;
    row-gap: 2rem;
    justify-content: center;
    overflow-y: scroll;
    max-height: 50rem;
  }
  .cartProductListDiv::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .cartProductListDiv {
    grid-template-rows: repeat(3, 20rem);
    grid-template-columns: repeat(3, 14rem);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    justify-content: center;
    overflow-y: scroll;
    max-height: 50rem;
  }
  .cartProductListDiv::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .cartProductListDiv {
    grid-template-rows: repeat(4, 20rem);
    grid-template-columns: repeat(4, 14rem);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    justify-content: center;
    overflow-y: scroll;
    max-height: 50rem;
  }
  .cartProductListDiv::-webkit-scrollbar {
    display: none;
  }
}
