.CartSection {
  margin-top: 2%;
  display: grid;
  grid-template-rows: 5rem auto;
}
.cartProductListDiv {
  display: grid;
  grid-template-rows: repeat(2, 33rem);
  grid-template-columns: repeat(6, 20rem);
  column-gap: 1%;
}
.favCardParentDiv {
  max-width: 20rem;
  max-height: 25rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 14rem 6rem;
  border: 0.1rem solid rgb(205, 205, 205);
}
.imgAndCloseDiv {
  width: 100%;
  position: relative;
}
.imgAndCloseDiv button {
  position: absolute;
  top: 2%;
  right: 2%;
}
.favImg img {
  object-fit: contain;
  max-width: 100%;
}
.productInfos {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 100%;
}
.title {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.prices {
  display: flex;
  justify-content: center;
  align-items: center;
}
.prices h4 {
  margin-left: 0.7rem;
  font-size: 1.2rem;
}
.cuttedPrice {
  text-decoration: line-through;
}
.offerPrice {
  color: rgb(241, 131, 46);
}

.closeBtn {
  background: none;
  border: none;
  cursor: pointer;
}
.closeLogo {
  font-size: 2rem;
  color: rgb(57, 57, 57);
}
.orderId h3 {
  text-transform: uppercase;
  text-align: center;
}
.orderId {
  max-height: 9rem;
  text-align: center;
  padding-top: 1rem;
}
.orderId h4 {
  text-transform: capitalize;
  padding-top: 1rem;
}

.mainCart {
  display: grid;
  grid-template-rows: 20rem 8rem;
  text-align: center;
  padding-top: 8%;
}
.cartImg {
  object-fit: contain;
  max-height: 10rem;
  max-width: 15rem;
  margin: auto;
}
.cartImg img {
  height: 100%;
  width: 100%;
}
.linkBtn {
  margin-top: 1.5rem;
  padding: 1rem 3%;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  border: 0.1rem solid rgb(232, 72, 72);
  background-color: white;
  color: rgb(232, 72, 72);
}
.linkBtn:hover {
  background-color: rgb(232, 72, 72);
  color: white;
  cursor: pointer;
}

@media (min-width: 280px) and (max-width: 576px) {
  .cartImg {
    max-height: 5rem;
    max-width: 10rem;
  }
  .linkBtn {
    padding: 0.7rem 1rem;
    border-radius: 0.8rem;
    font-size: 1.1rem;
  }
  .favCardParentDiv {
    max-width: 10rem;
    max-height: 18rem;
    grid-template-rows: 9rem 5rem 4rem;
  }
  .title {
    font-size: 1rem;
    margin-top: 1rem;
  }
  .prices h4 {
    margin-left: 0.7rem;
    font-size: 0.8rem;
  }
  .orderId h4 {
    font-size: 0.7rem;
  }
  .orderId h3 {
    font-size: 0.8rem;
  }
  .orderId p {
    font-size: 0.6rem;
  }
  .cartProductListDiv {
    grid-template-rows: repeat(2, 20rem);
    grid-template-columns: repeat(2, 10rem);
    column-gap: 2rem;
    row-gap: 2rem;
    justify-content: center;
    overflow-y: scroll;
    max-height: 50rem;
  }
  .cartProductListDiv::-webkit-scrollbar {
    display: none;
  }
}
